/* Global */
:root {
  /* size */
	--main-width: 82%;
	--sidebar-width: 18%;
	--main-margin: 0 0 0 17%;
	--navbar-height: 8vh;
  --navbar-mobile-height: 8vh;
  --base-spacing: 0.4em;

	/* color */
	--text-color: #212529;
	--background-color: rgb(248, 249, 250);
	--accent-color: #ededed;
	--accent-color2: #dedede;
	--hover-color: #585b6d;
	--sidebar-color: #e6e6e6;
	--point-color: #3f1fb0;

	/* slide */
	--left: 0;
  --aspectRatio: .5625;
  --slide: 0;
	--slideWidth: 66vw;
  --slideHeight: calc(var(--slideWidth) * var(--aspectRatio));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.invisible {
	display: none;
}

/* PC기준이므로 PC 기준부터 나열함. */
.sm-link__label {
	font-size: 1.2rem;
}

.sm-link4::after {
	opacity: 0;
	transform: translate3d(0, 100%, 0);
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.sm-link4:hover::after {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.base-spacing {
	margin: var(--base-spacing);
	padding: var(--base-spacing);
}
.updown-double-spacing {	
	margin: calc(var(--base-spacing)*2) 0;
	padding: calc(var(--base-spacing)*2) 0;
}
.double-spacing {	
	margin: calc(var(--base-spacing)*2) var(--base-spacing);
	padding: calc(var(--base-spacing)*2) var(--base-spacing);
}
.bottom-spacing {
	margin-bottom: 4em;
}
.row-flex {
	display: flex;
	flex-flow: row nowrap;
}
.inline {
	display: inline-block;
}
.row-flex>h5 {
	margin-top: var(--base-spacing);
}

iframe {
	width: 95%;
	height: var(--slideHeight);
	margin: 1.5em;
}

body {
	width: 100%;
	font-weight: 400;
	color: var(--text-color);
  background-color: var(--background-color);
  /* 좌우방향 스크롤 X 세로 스크롤 O */
	overflow-x: hidden; 
	position: absolute;
}

.modal-active {
  overflow: hidden;
  padding-right: 0.9%;
}

.align-right {
	display: block;
  text-align: right;
}
.text-bolder {
	display: block;
	font-weight: bolder;
}

section {
	display: block;
	width: 100%;
}

a {
	width: 100%;
	text-decoration: none;
	word-break: break-all;
}

p {
	margin: 0.4em;
}

ul, li {
	list-style: none;
	margin: 0;
}

h2, h3, h4, p {
	margin: var(--base-spacing);
}

.full-screen {
	min-height: 110vh;
  padding: var(--base-spacing);
}

.sidebar__link__item {
	margin: 0 0.4rem;
	font-size: 1.9rem;
}
.sidebar__link__item>a {
	color: var(--text-color);
}
.sidebar__link__item>a:hover {
	cursor: pointer;
	color: var(--hover-color);
	transform: scale(1.1);
	transition: transform 300ms ease;
}

.link__item {
	align-self: flex-end;
	font-size: 5vh;
	padding: .1em;
	color: #111;
}

.link__item>a:hover {
	cursor: pointer;
	color: var(--hover-color);
	transform: scale(1.1);
	transition: transform 300ms ease;
}

.sidebar {
	z-index: 1;
	position: fixed;
	display: inline-flex;
	/* flex-box 기준축 */
	/* justify-content: ; */
	/* flex-box 반대축 */
	align-items: center;
	/* 컨텐츠 크기 조정 : NOWRAP */
	flex-flow: column nowrap;
	background-color: var(--sidebar-color);
	height: 100%;
	width: var(--sidebar-width);
}

.sidebar__space {
	flex-grow: 1;
	height: 5vh;
	width: var(--sidebar-width);
}

.sidebar__img {
	margin: .5em .2em;
	max-width: 40%;
  border-radius: 50%; 
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sidebar__link__list{
	display: flex;
	flex-flow: row nowrap;
	margin: 1em 0 1.8em 0;
	justify-content: space-around;
	align-content: center;
	padding-left: 0;
  list-style: none;
}

.btn {
	padding: 0.5em 1.5em;
	font: 1.2em sans-serif;
	color: var(--background-color);
  border: 1px solid var(--text-color);   
  outline: 0;
	background-color: var(--text-color);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.btn:hover {
	/* padding: 0.5em 1.5em; */
	color: var(--hover-color);
	border: 1px dashed var(--hover-color);
	background-color: var(--background-color);
	cursor: pointer;
  transition: 200ms ease;
}

.language {
	display: inline-block;
	margin: var(--base-spacing) 0.1em;
	padding: calc(var(--base-spacing)/2) var(--base-spacing);
	font-size: 1.1rem;
	font-weight: bolder;
	color: var(--hover-color);
	border: 1px dashed var(--hover-color);
	background-color: var(--background-color);
	outline: 0;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.skills {
	display: inline-block;
	margin: calc(var(--base-spacing)/2) 0.1em;
	padding: calc(var(--base-spacing)/2) var(--base-spacing);
	font-size: 1.1rem;
	color: var(--background-color);
  border: 1px solid var(--text-color);   
  outline: 0;
	background-color: var(--text-color);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	
}
.language--general {
	display: inline-block;
	margin: calc(var(--base-spacing)/2) 0.1em;
	padding: calc(var(--base-spacing)/2) var(--base-spacing);
	font-size: .9rem;
	font-weight: bolder;
	color: var(--hover-color);
	border: 1px dashed var(--hover-color);
	background-color: var(--background-color);
	outline: 0;
	box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.skills--general {
	display: inline-block;
	margin: calc(var(--base-spacing)/2) 0.1em;
	padding: calc(var(--base-spacing)/2) var(--base-spacing);
	font-size: .9rem;
	color: var(--background-color);
  border: 1px solid var(--text-color);   
  outline: 0;
	background-color: var(--text-color);
	box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
	
}

li.language:hover, li.skills:hover {
	cursor:pointer;
	background-color: var(--hover-color);
	color: var(--background-color);
  border: 1px solid var(--text-color);
	transform: translate(0,2px); 
	/* box-shadow: none; */
}

.sidebar__menu {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: left;
	padding-left: 0;
	list-style: none;
	flex-grow: 4;
}

.sidebar__item {
  width: fit-content;
  height: auto;
	max-width: 90%;
  padding: 0.3em 0.1em;
  margin: calc(var(--base-spacing)*1.5);
  border-bottom: transparent solid 2px;
}
.sidebar__item:hover, .sidebar__item--active {
	cursor: pointer;
	transition: 400ms ease;
  border-bottom: #000 solid 2px;
}

.main {
	margin: var(--main-margin);
	position: relative;
	display: flex;
	/* flex-box 기준축 */
	justify-content: flex-start;
	/* flex-box 반대축 */
	align-items: center;
	/* 컨텐츠 크기 조정 : NOWRAP */
	flex-flow: column nowrap;
	width: var(--main-width);
	height: 100%;
}

.navbar {
	display: none;
	z-index: 2;
	position: fixed;
	height: var(--navbar-mobile-height);
	width: 100%;
	color: var(--accent-color);
	background-color: #0f151d;
}

.navbar__main {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	display: flex;
	/* 자동으로 컨텐츠 하위 조정 : WRAP */
	flex-flow: row nowrap;
	/* 열 기준으로 시작점부터 배치 */
	justify-content: space-between; /* 기본값임. */
	/* 열 기준으로 배열했으므로, 행에서 중앙 위치 */
	align-items: center;
	height: 100%;
	width: 100%;
}

.navbar__list {
	display: none;
	background-color: var(--hover-color);
	text-align: center;
}
.navbar__list:active {
	display: block;	
	transition: 400ms ease;
}

.navbar__item {
	padding: 0.8em;
}

.navbar__toggle {
	padding: 8px 12px;
	display: none;
}

.navbar__job {
	display: inline-block;
	font-size: 2rem;
	margin: 0 1em;
	font: bold;
}

.navbar__name {
	display: inline-block;
	font-size: 2rem;
	margin: 0 1em 0.3em 1em;
	font: bold;
	margin-left: auto;
}

.content {
	display: flex;
	position: relative;
	width: 80%;
	height: 100%;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	z-index: 0;
}

.content__welcoming {
	display: flex;
	position: relative;
	height: 100vh;
  width: 100%;
  margin-bottom: 3em;
	/* font-family: 'Bungee'; */
}

.link-two {
	transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
}

.link-two:hover {
	transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.link-two::before {
	content: '';
	position: absolute;
	z-index: -2;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	clip-path: polygon(
		0% -20%,
		100% -30%,
		100% -10%,
		0% 0%,
		0% 130%,
		100% 120%,
		100% 100%,
		0% 110%
	);

	background: rgb(241, 241, 241);
	background: linear-gradient(
		90deg,
		rgba(241, 241, 241, 1) 0%,
		rgba(147, 147, 147, 1) 75%,
		rgba(98, 97, 97, 1) 100%
	);
	transition: clip-path 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.link-two:hover::before {
	clip-path: polygon(
		0% 10%,
		100% 0%,
		100% 20%,
		0% 30%,
		0% 100%,
		100% 90%,
		100% 70%,
		0% 80%
	);
}

.link-two::after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 30ch;
	height: 30ch;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%) rotate(0deg) scale(0);
	transition: transform 1s ease;
  box-shadow: 0 19px 20px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	background-color: #afafaf;
}

.link-two:hover::after {
	transform: translate(50%, -50%) rotate(135deg) scale(1);
}

.tri__inner {
	flex-basis: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 2%;
}

h1.introduction__job {
	margin: 0 0 0.5em 0;
	font-size: 3.5em;
	text-shadow: 3px 3px var(--hover-color);
}
h2.introduction__name {
	margin: 0 0 0.5em 0;
	font-size: 2em;
	text-align: right;
	text-shadow: 2px 2px var(--hover-color);
}
a {
	color: 	rgba(147, 147, 147, 1);
}

article h1 {
	font-weight: bold;
	font-size: 1.9rem;
	padding: 0.35em;
	margin: calc(var(--base-spacing)*4) 0 var(--base-spacing) 0;
	background: rgb(241, 241, 241);
	background: linear-gradient(
		90deg,
		rgba(241, 241, 241, 1) 0%,
		rgba(147, 147, 147, 1) 75%,
		rgba(98, 97, 97, 1) 100%
	);
	border-radius: 10px;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}

article h5 {
	margin: 0 0 0 1em;
	text-transform: uppercase;
}

.introduction__inner {
	float: right;
}

.content__main {
	background-color: var(--background-color);
	position: relative;
	display: block;
	height: auto;
	width: 100%;
	
}

.content__description {
  display: block;
  width: 100%;
	padding: calc(var(--base-spacing)/2) calc(var(--base-spacing)*2.5) calc(var(--base-spacing)*2.5) calc(var(--base-spacing)*2.5);
}

.content__paragraph {
	font-size: 1.1rem;
	line-height: 1.6rem;
}

.footer {
	display: flex;
  position: relative;
  padding: 0.8em;
	/* 자동으로 컨텐츠 하위 조정 : WRAP */
	flex-flow: row nowrap;
	/* 열 기준으로 시작점부터 배치 */
	justify-content: space-between; /* 기본값임. */
	/* 열 기준으로 배열했으므로, 행에서 중앙 위치 */
	align-items: center;
	color: #0f151d;
	height: 100%;
	width: var(--main-width);
	margin: auto 0 0 var(--sidebar-width);
	background-color: #0f151d;
	color: var(--background-color);
}
.footer__licenses {
	margin: 0 2em;
}
.footer__link {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	margin-right: var(--base-spacing);
	list-style: none;
}
.footer__link__item{
	padding: 0 calc(var(--base-spacing)/1.5);
	font-size: 2rem;
}
.footer__link__item>a{
	color: var(--background-color);
}
.footer__link__item>a:hover {
	cursor: pointer;
	color: var(--hover-color);
	transform: scale(1.1);
	transition: transform 300ms ease;
}
.sidebar {
  box-shadow: 0 19px 20px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.sidebar > h2 {
	font-size: 1.6rem;
}
.sidebar.show {
	animation: show 1.6s;
	opacity: 1;
	transform: translateX(0%);
	transition: transform 0.6s ease-in-out;
}
.sidebar.close {
	animation: show 1.6s;
	opacity: 1;
	transform: translateX(-100%);
	transition: transform 0.6s ease-in-out;
}

.content__subhead {
	margin: 2em;
	text-align: center;
}

/* 모달 관련 */
.content__projects {
  padding: var(--base-spacing);
}

#projects {
  display: grid;
  width: 100%;  
  grid-template-columns: 33% 33% 33%;  
  grid-column-gap: 0.8em;
  grid-row-gap: 0.8em;
  margin-bottom: 3em;
}

.projects__item {
  width: 100%;
	/* border: 2px dotted #fff; */
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 5px 5px 4px 2px #ccc;
}

.projects__item:hover {	
	cursor:pointer;
	background-color: var(--accent-color);
	transition: 400ms ease;
}

.projects__item--active {
  cursor:pointer;
	background-color: var(--accent-color);
	animation: shake 0.9s cubic-bezier(.36,.07,.19,.97) both;
	perspective: 1000px;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(1px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-2px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(2px, 0, 0);
	}
}

.img-responsive {
	width: 100%;
	height: 12em;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.projects-caption {
  padding: 0.8em;
  font-size: 1.4rem;
}

.projects-head {
	text-align: center;
}

.projects-feature {
	height: 1.2rem;
	font-size: 1rem;
	text-align: center;
}

.projects-subhead {
	display: inline;
	width:95%;
	height: 4rem;
	line-height: 1.1rem;
	font-size: 1rem;
	overflow: hidden;
	line-clamp: 4;
	text-overflow: ellipsis;
	color: #585b6d;
}

.projects-skills {
	font-size: 1.1rem;
	display: inline-block;
	width:95%;
	height: auto;
	font-weight: bolder;
	color:var(--point-color);
}

.content__button {
  margin: 0.5rem 0 0 0.8rem;
  padding: 0.8em;
  border: 0;
  border-bottom: 2px solid transparent;
  outline: 0;
  background-color: transparent;
  font-size: 1.2rem;  
	transition: 400ms ease;
	text-transform: uppercase;
}

.content__button:hover {
  cursor: pointer;
  border-bottom: 2px solid #2c2b2b;  
	transition: 400ms ease-in;
}
.content__button--active {	
  border-bottom: 2px solid #2c2b2b;  
	transition: 400ms ease-in;
}

/* The Modal (background) */
 .project-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  /* background-color: rgb(0,0,0); Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal__content {	
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
/* Modal Content/Box */
.modal__layout {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
  background-color: #fefefe;
  margin: 1% 25%;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
	width: 70%; /* Could be more or less, depending on screen size */
	height: 95%;
  overflow-y: scroll;
}

.modal__description {
	font-size: 1.2rem;
}
.slides__container {
  background: #2a2a2a;
  height: var(--slideHeight);
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
	width: var(--slideWidth);
	box-shadow: 2px 2px 6px 2px #ccc;
}

.slides {
  font-size: 0;
	height: 100%;
  transform: translate3d(calc(var(--slide)*1* var(--slideWidth) * -1), 0, 0);
  transition: all 0.25s;
  white-space: nowrap;
}

.slide {
	position: relative;
  background-position: center;
  background-size: cover;
  display: inline-block;
  font-size: 60px;
	height: var(--slideHeight);
  text-align: center;
  transition: all 0.5s;
	width: var(--slideWidth);
}

.slides__controls {
  margin: 0 0 20px 0;
  text-align: center;
	width: 100%;
}

.slides__controls label {
	background-position: center;
	background-size: cover;
	border: 2px solid #fff;
	cursor: pointer;
	display: inline-block;
	height: 50px;	
	width: 50px;
	margin: 0 10px 10px;
	/* overflow: hidden; */
}

.slides__controls input {
	width:0px;
	height:0px;
}


/* The Close Button */
.modal-close {
	position: fixed;
	z-index: 2;
  color: rgb(75, 75, 75);
  font-weight: bold;
  font-size: 1.7em;
	text-align: right;
	align-self: flex-end;
}
.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
		
.content__about {
	width: 100%;
	height: 100%;
  padding: var(--base-spacing);
}

/* 태블릿 */
@media screen and (max-width: 1024px) and (min-width: 767px) {

	.sidebar__item--active {
		transition: 100ms ease;
		border-bottom: #000 solid 2px;
	}
	
	.btn {
		padding: 0.3em 1em;
		font-size: 1em;
	}

	.main {
		margin: 0 0 0 26%;
		width: 73%;
	}
	
	.sidebar {		
		width: 27%;
	}

	.footer {
		margin: auto 0 0 27%;
		width: 73%;
	}

	.navbar {
		display: none;
	}

	.content {
		margin-left: 3%;
		width: 90%;
  }
	
  .sidebar__item:hover {
    cursor: none;
    transition: none;
    border-bottom: none;
	}

	/* Modal Content/Box */
	.modal__layout {
		margin: 3% 8%;
		padding: 10px;
		width: 84%; /* Could be more or less, depending on screen size */
	}

	:root {
		--slideWidth: 80vw;
	}

	#projects {
		grid-template-columns: 50% 50%;
	}

	iframe {
		margin: 1em;
	}
	
}

/* 태블릿 2 */
@media screen and (max-width: 768px) and (min-width: 541px){
	.sidebar__item--active {
		transition: 100ms ease;
		border-bottom: #000 solid 2px !important;
	}
	.btn {
		padding: 0.3em 1em;
		font-size: 1em;
	}

	.navbar {
		display: none;
	}

	.content {
		margin-right: 0;
		width: 90%;
	}

	.main {
		margin: 0 0 0 26%;
		width: 73%;
	}
	
	.sidebar {		
		width: 27%;
	}

	.footer {
		margin: auto 0 0 27%;
		width: 73%;
	}
	
  .sidebar__item {
    font-size: 1em;
    padding: var(--base-spacing) 0.1em;
    margin: 0.6em;
    margin-top: 1em;
  }
  
  .sidebar__item:hover {
    cursor: none;
    transition: none;
    border-bottom: none;
  }

  #projects {
    grid-template-columns: 50% 50%;  
	}

	/* Modal Content/Box */
	.modal__layout {
		margin: 3% 8%;
		padding: 10px;
		width: 84%; /* Could be more or less, depending on screen size */
	}
	
	:root {
		--slideWidth: 80vw;
	}

	iframe {
		margin: 1em;
	}
}

/* 스마트폰 */
@media screen and (max-width: 540px) and (min-width: 321px) {
	.double-spacing {
    margin: var(--base-spacing) var(--base-spacing);
    padding: var(--base-spacing) var(--base-spacing);
	}
	
	.bottom-spacing {
		margin-bottom: 3em;
	}
	
	.projects-caption {
		padding: 0;
	}

	.base-spacing {
		margin: .8rem 0 0 0;
    padding: 0 var(--base-spacing);
	}

	h2 {
		font-size: 1.5rem;
	}
	.sidebar>h3 {
		display: none;
	}
	.sidebar__img {
		display: none;
	}

	.sidebar__item--active {
		transition: 100ms ease;
		border-bottom: #000 solid 2px !important;
	}
	.sidebar {
		z-index: 1;
		position: fixed;
		display: inline-flex;		
		transform: translateX(-100%);
		align-items: center;
		height: 100%;
		width: 70%;
		padding-top: 2em;
	}	
	.sidebar__link__list {
		margin: 1em 0 1em 0;
	}

	.sidebar__item {
		font-size:1.2em;
	}
	.sidebar__link__item {
		padding: .1em;
	}
	.sidebar__img {
		width: 50%;
		margin: 0;
	}
	.sidebar__item:hover {
		cursor: none;
		transition: none;
		border-bottom: none;
	}

	.btn {
		padding: 0.3em 1em;
    font-size: 1em;
	}

	.navbar {
		display: block;
		width: 100%;
	}

	.navbar__list {		
		display: none;
	}
	
	.navbar__main {
		color: var(--background-color);
		background-color: var(--text-color);
	}
	.navbar__toggle {
		padding: 8px 12px;
		display: inline-block;
	}
	.navbar__job {
		display: none;
	}
	.navbar__name {
		font-size: 1.5rem;
	}
	.tri {
		background: none;
	}

	h1.introduction__job {
		font-size: 3em;
		text-shadow: 3px 3px var(--accent-color);
	}
	h2.introduction__name {
		font-size: 1.5em;
		text-align: right;
		text-shadow: 1.5px 1.5px var(--accent-color);
	}

	.main {
		margin: 0;
		width: 100%;
	}

	.footer {
		margin: 0;
		width: 100%;
  }
  
  .footer__licenses {
    margin: var(--base-spacing);
  }

	.footer__link__item {
    padding: var(--base-spacing);
		font-size: 1.2em;
	}

	.link-two::after {
		width: 12ch;
		height: 12ch;
	}
	.content {
		width: 100%;
  }
	.content__welcoming {
    padding-top: var(--navbar-mobile-height);
    margin-top: 0.8em;
    /* background-image: linear-gradient(rgba(46, 46, 46, 0.5), rgba(235, 235, 166, 0.425)); */
	}

  .sidebar__item:hover {
    cursor: none;
    transition: none;
    border-bottom: none;
  }
  
  article h1 {
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em;
		margin: calc(var(--base-spacing)*8) 0.5em 0.5em 0.5em;
  }

  #projects {
    grid-template-columns: auto;
    grid-column-gap: var(--base-spacing);
    grid-row-gap: var(--base-spacing);
	}
	
  .content__description {
    padding: calc(var(--base-spacing)/2) calc(var(--base-spacing)*2) calc(var(--base-spacing)*2) calc(var(--base-spacing)*2);
	}
	
	/* Modal Content/Box */
	.modal__layout {
		margin: 16% 2%; /* 15% from the top and centered */
		padding: 12px;
		width: 96%; /* Could be more or less, depending on screen size */
		height: 90%;
	}

	:root {
		--slideWidth: 92vw;
	}

	.content__welcoming {
		padding-top: calc(var(--navbar-mobile-height)*2);
    margin-top: 0.8em;    
		background-image:url(https://user-images.githubusercontent.com/68500631/95161812-0d77f980-07df-11eb-9194-9d0c835a9273.jpg);
		background-repeat:no-repeat;
		background-position: center right;
		background-size: cover;	
	}

	.content__subhead {
		margin: 1em;
		text-align: center;
	}
	
	iframe {
		margin: 1em;
	}

	.img-responsive {
		max-width: 32em;
		height: 16.5em;
	}

}

@media screen and (max-width: 375px) {
	.sidebar__item--active {
		transition: 100ms ease;
		border-bottom: #000 solid 2px !important;
	}

	.base-spacing {
		margin: .8rem 0 0 0;
    padding: 0 var(--base-spacing);
	}

	.bottom-spacing {
		margin-bottom: 2.5em;
	}

	.sidebar>h3 {
		display: none;
	}
	.sidebar__img {
		display: none;
	}

	.sidebar {
		z-index: 1;
		position: fixed;
		display: inline-flex;
		transform: translateX(-100%);
		align-items: center;
		height: 100%;
		width: 70%;
		padding-top: 2em;
	}	
	.sidebar__item {
		font-size:1em;
	}
	.sidebar__link__list {
		margin: 1em 0 1em 0;
	}
	.sidebar__link__item {
		font-size: 1.7em;
		padding: .1em;
	}
	.sidebar__img {
		width: 40%;
		margin: 0;
	}

	.sidebar__item:hover {
		cursor: none;
		transition: none;
		border-bottom: none;
	}
	
	.img-responsive {
		max-width: 24em;
		height: 12em;
	}
}

@media screen and (max-width: 320px) {
	.navbar {
		display: block;
		height: var(--navbar-mobile-height);
		width: 100%;
	}

	.navbar__list {		
		display: none;
	}

	.navbar__main {
		color: var(--background-color);
		background-color: var(--text-color);
	}
	.navbar__toggle {
		padding: 8px 12px;
		display: inline-block;
	}
	.navbar__job {
		display: none;
	}
	.navbar__name {
		font-size: 1.5rem;
	}
	.tri {
		background: none;
	}

	.content {
		width: 100%;
  }
	.content__welcoming {
		padding-top: calc(var(--navbar-mobile-height)*2);
    margin-top: 0.8em;    
		background-image:url(https://user-images.githubusercontent.com/68500631/95161812-0d77f980-07df-11eb-9194-9d0c835a9273.jpg);
		background-repeat:no-repeat;
		background-position: center right;
		background-size: cover;
		}
	
	.link-two::after {
		width: 8ch;
		height: 8ch;
	}
	
	h1.introduction__job {
		font-size: 2em;
	}
	h2.introduction__name {
		font-size: 1em;
  }

	.sidebar__img {
		width: 35%;
		margin: 0;
	}
	.sidebar__link__list {
		margin: .8em 0 1em 0;
	}
  .sidebar__link__item {
		font-size: 1.4em;
  }
  .sidebar__item {
		font-size: .9em;
  }
  .sidebar__item:hover {
    cursor: none;
    transition: none;
    border-bottom: none;
  }

  .footer__licenses {
    margin: var(--base-spacing);
  }

	.footer__link__item {
    padding: var(--base-spacing);
		font-size: 1.2em;
  }

  #projects {
    grid-template-columns: auto;
    grid-column-gap: var(--base-spacing);
    grid-row-gap: var(--base-spacing);
  }
  .content__description {
    padding: calc(var(--base-spacing)/2) calc(var(--base-spacing)*2) calc(var(--base-spacing)/2) calc(var(--base-spacing)*2);
	}

	/* Modal Content/Box */
	.modal__layout {
		margin: 19% 2%; /* 15% from the top and centered */
		padding: 10px;
		width: 96%; /* Could be more or less, depending on screen size */
		height: 90%;
	}

	:root {
		--slideWidth: 92vw;
	}

	.btn {
		padding: 0.3em 1em;
    font-size: 1em;
	}

	h1.introduction__job {
		font-size: 2em;
		text-shadow: 3px 3px var(--accent-color);
	}
	h2.introduction__name {
		font-size: 1.2em;
		text-align: right;
		text-shadow: 1.5px 1.5px var(--accent-color);
	}

	.main {
		margin: 0;
		width: 100%;
	}
	.footer {
		margin: 0;
		width: 100%;
  }

	.footer__link__item {
    padding: var(--base-spacing);
		font-size: 1.2em;
	}
  
  article h1 {
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em;
		margin: calc(var(--base-spacing)*4) 0.5em 0.5em 0.5em;
	}

	iframe {
		margin: .8em;
	}

	.double-spacing {
    margin: var(--base-spacing) calc(var(--base-spacing)/2);
    padding: var(--base-spacing) calc(var(--base-spacing)/2);
	}
	.bottom-spacing {
		margin-bottom: 2em;
	}
}

/* nowrap 시 마진 포함 값이 원래 화면 너비보다 넓으면 깨짐 현상 나타남
플렉스 박스 사용 시 크기 조정하고 싶으면 max- 옵션넣어서 너비, 높이 정하기 */
